*{
  box-sizing:box-border;
}
img{
  width:300px;
  height:460px;
  opacity: 0.97;
  
}
.slider-inner{
  width:1200px;
  
}
.slider{
  width:300px;
  overflow: hidden;
}
div{
  margin:auto;
  margin-top:42px;
}
body{
background-image:url("https://image.freepik.com/free-vector/flower-power-pattern-in-warm-tones_1012-187.jpg")
}